body{
    background: #4a4a4a;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li
{
    height: 150px;
    border-left: 0;
    border-top:0;
    border-right: 0;
    border-bottom: 5px;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    font-size: 20px;
    background: #27ae60;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald' sans-serif;
    text-align: justify;
}
.texto{
    text-align: center;
}
.seta{
    float: right;
    margin: 0 31px 0 0;
}
.positivo{
    float: left;
    margin: 40px 0 0 40px;
}
a {
    text-decoration: none;
    color: #fff;
}
li:hover{
    background-color: #52be7f;
}
p{
    padding: 50px 0 0 0;
    margin: 0;
}