body{
    font-family: 'lato', sans-serif;
    -webkit-font-smoothing:antialiased;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.botao{
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    background: #ff3b80;
    display: block;
    padding: 15px 0 15px 0;
    box-shadow: 0 6px 0 #a32751;
    border-radius: 3px;
    text-align: center;
}


header{
    margin-bottom: -100px;
}
header h1{
    margin: 0;
    background-image:url(img/Clave.png);
    background-repeat: no-repeat;
    width: 177px;
    height: 76px;
    margin-top: 20px;
}

header h1 span{
    visibility: hidden;
}

header nav ul{
    padding-right: 80px;
    margin: 0;
    margin-top: 20px;
}
header nav li {
    list-style: none;
    display: inline-block;
     margin-right: 100px;
}

header nav li:last-child{
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
}
header nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
section#topo{
    background-image:url(img/fundo.png);
    background-size: cover;
    height: 700px;
}

section#topo .chamada{
    color: #fff;
    margin-top: 200px;
    text-align: center;
}

section#topo .chamada h2{
    margin: 0;
    font-size: 50px;
    margin-bottom: 10px;
}

section#topo .chamada p{
    margin: 0;
    font-size: 32px;
    margin-bottom: 20px;
}



section#conheca {
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

section#conheca .texto {
    padding: 70px;
    padding-right: 30px;
}

section#conheca .texto h2{
    font-size: 32px;
}

section#conheca .texto p{
    font-size: 24px;
}

section#conheca .texto a{
    font-size: 30px;
    width: 60%
}


section#depoimento{
    background: #ebe7fb;
    border-top: 4px solid #511099;
}
section#depoimento .container{
    flex-direction: column;
    align-items: center;
    padding: 70px;
    padding-bottom: 50px;
}
section#depoimento img{
    width: 150px;
    height: 150px;
}
section#depoimento p{
    font-size: 24px;
    width: 80%;
    text-align: center;
}

section#convite {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(img/fundo-convite.png);
    background-size: cover;
    background-repeat: no-repeat;
}
section#convite .container{
    flex-direction: column;
    align-items: center;
}

section#convite form{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    width: 55%;
    border-radius: 3px;
}

section#convite input{
    padding: 20px;
    width: 75%;
    background-color: transparent;
    border: none;
}

section#convite button{
    background-image: url(img/carta.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 108px;
    height: 43px;
}

section#convite span{
    visibility: hidden;
}

footer{
    background-color: #2a0157;
    color: #fff;
    text-align: center;
}

@media (max-width: 600px){
    header nav{
        display: none;
    }
    header h1{
        margin-left: 20px;
    }
}