body{
    background-color: #745cc1;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
img{
    margin-top: 65px;
}
input{
    display:block;
    width: 100%;
    margin-bottom: 50px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    
}
button{
    width: 100%;
    background-color: #fff;
    border-radius: 40px;
    height: 50px;
    text-transform: uppercase;
    box-shadow: 0 2px 3px 0px #000;
    border: none;
    color:#39393a;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
form{
    padding: 60px 60px 5px 60px;
}
::placeholder{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
